@charset "utf-8";

@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'OTWelcomeRA';
}

ul,
ol,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #333;
}

table,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

header {
    width: 1200px;
    height: 100px;
    border: 3px solid rgb(255, 255, 255);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.search_box {
    width: 245px;
    position: absolute;
    right: 4.5%;
    bottom: 22%;
    background: rgb(227, 227, 227);
    border-radius: 20px;
}
.search {
    width: 192px;
    border: none;
    padding: 7px;
    background: rgb(227, 227, 227);
    margin-left: 5px;
    margin-bottom: 3.5px;
    border-radius: 20px;
}

.search1 {
    width: 35px;
    padding: 7px;
    margin-bottom: -15px;
}

#logo {
    width: 240px;
    height: 90px;
    float: left;
    margin: 20px 0 0 10px;
}

.top {
    width: 500px;
    height: 30px;
    float: left;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.top ul {
    font-weight: bold;
}

.top ul > li {
    float: left;
    margin: 0 20px;
    position: relative;
    font-size: 15px;
}

.top ul li:hover {
    background:rgb(231, 231, 231)
}

.top ul li:hover ul {
    display: block;
}

.top ul li ul {
    position: absolute;
    left: -20px;
    display: none;
    width: 100px;
    background-color: rgba(255,255,255,0.5);
    z-index: 5;
}

.top ul >li >ul >li {
    display: block;
    margin-top: 10px;
    width: 65px;
    font-size: 16px;
    line-height: 40px;
}

.top1 {
    width: 250px;
    height: 20px;
    float: right;
    margin-top: -48px;
    margin-right: -51px;
}

.top1 ul {
    font-size: 5px;
    color: rgb(143, 143, 143);
}

.top1 ul li {
    float: left;
    margin: 0 10px;
}

.top1 ul li a {
    color: #666
}

footer {
    width: 100%;
    height: 230px;
    margin: 0 auto;
    background-color: rgb(151, 151, 151);
}

footer .box5 > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .box5 {
    width: 1200px;
    height: 230px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.SNS_BOX {
    width: 234px;
    height: 60px;
    float: left;
    margin: 110px 0 115px 41px;
}

.box5 ul li {
    color: rgb(255, 255, 255);
    font-size: 12px;
}

footer .box5 > div:nth-of-type(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
